<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <title>Dashboard</title>
</head>
<body>
    {{template "admin-header" . }}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card border-success bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Target Amount</h5>
                    </div>
                    <h1 class="card-header">{{.TargetAmount}}</h1>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card border-success bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Collected Amount</h5>
                    </div>
                    <h1 class="card-header">{{.CollectedAmount}}</h1>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card border-success bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Remaining Amount</h5>
                    </div>
                    <h1 class="card-header">{{.RemainingAmount}}</h1>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
</html>