<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <title>Save Tamal</title>
</head>
<body>
    {{ template "header" . }}
    {{ template "banner" . }}
    <div class="container-fluid p-5" id="about">
        <div class="row">
            <h2 class="text-center text-success mb-4">ABOUT <span class="text-uppercase">{{.Sett.PatientName}}</span></h2>
            <p>{{.Sett.AboutPatient}}</p>
        </div>
    </div>
    <div class="container-fluid p-5 bg-gray" id="documents">
        <div class="row">
            <h2 class="text-center text-success mb-4">MEDICAL DOCUMENTS</h2>
            <div class="col-12 col-lg-6">
                <object data="/assets/files/Case-Summary.pdf" type="application/pdf" width="100%" height="600px">
                    <p>Your browser does not support PDFs. <a href="/assets/files/Case-Summary.pdf">Download the PDF</a>.</p>
                </object>
            </div>
            <div class="col-12 col-lg-6">
                <object data="/assets/files/Estimated-Cost.pdf" type="application/pdf" width="100%" height="600px">
                     <p>Your browser does not support PDFs. <a href="/assets/files/Estimated-Cost.pdf">Download the PDF</a>.</p>
                </object>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid p-5" id="collection">
        <div class="row">
            <h2 class="text-center text-success mb-4">COLLECTION DETAILS</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Account Number</th>
                            <th>Account Type</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .CollList}}
                        <tr>
                            <td>{{.Date}}</td>
                            <td>{{.AccountNumber}}</td>
                            <td>{{.AccountType}}</td>
                            <td>{{.Amount}} {{.Currency}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {{if ne .Paginator.Total 0}}
                    <li class="page-item {{if eq .Paginator.CurrentPage 1}} disabled {{end}}">
                        <a class="page-link text-success" {{if .Paginator.Prev}} href="{{.Paginator.Prev.URL}}" {{end}} aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{end}}
                    {{range .Paginator.Pages}}
                    {{if .Order}}
                    <li class="page-item"><a class="page-link {{if .Current}}bg-success text-light {{else}} text-success{{end}}" href="{{.URL}}">{{.Order}}</a></li>
                    {{else}}
                    <li><a class="page-link text-success">...</a></li>
                    {{end}}
                    {{end}}
                    {{if ne .Paginator.Total 0}}
                    <li class="page-item  {{if eq .Paginator.CurrentPage .Paginator.CountPaginate}} disabled {{end}}">
                        <a class="page-link text-success" {{if .Paginator.Next}} href="{{.Paginator.Next.URL}}" {{end}} aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {{end}}
                </ul>
            </nav>
        </div>
    </div> -->
    <!-- <div class="container-fluid p-5" id="collection">
        <div class="row">
            <h2 class="text-center text-success mb-4">COLLECTION DETAILS</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Collected Amount</th>
                            <th>Remaining Required Amount</th>
                            <th>Percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2nd September, 2025</td>
                            <td>&#2547; 716,225</td>
                            <td>&#2547; 6,783,775</td>
                            <td>9.55%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
    <div class="container-fluid p-5 bg-success" id="donate">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2 class="d-block text-center bg-light text-success rounded px-4 py-2 mb-4">PLEASE DONATE</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 p-2 d-flex justify-content-center">
                <div class="d-block text-light">
                    <h4 class="text-center border-bottom border-light border-3">Bank Account (Bangladesh)</h4>
                    <p class="text-center">Account Name: MD NAZMUL ISLAM (Joint Account)</p>
                    <p class="text-center">Account Number: 0710100001005</p>
                    <p class="text-center">Bank: Bangladesh Development Bank PLC (BDBL)</p>
                    <p class="text-center">Branch: Elephant Road Branch</p>
                    <p class="text-center">Routing number: 047261336</p>
                    <br>
                    <h4 class="text-center border-bottom border-light border-3">MFS</h4>
                    <p class="text-center">Bkash: 01737568902 (তাহমীদ, KU ECE ‘11)</p>
                    <p class="text-center">Nagad: 01737568902 (তাহমীদ, KU ECE ‘11)</p>
                    <p class="text-center">Rocket: 017375689029 (তাহমীদ, KU ECE ‘11)</p>
                    <br>
                    <h4 class="text-center border-bottom border-light border-3">Bank Account (Europe)</h4>
                    <p class="text-center">Name: Md Mahmud Hassan</p>
                    <p class="text-center">Bank: Commerzbank</p>
                    <p class="text-center">IBAN: DE17641400360894222900</p>
                    <p class="text-center">BIC: COBADEFFXXX</p>
                    <p class="text-center">Reference: For Tamal</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 p-2 d-flex justify-content-center">
                <div class="d-block text-light">
                    <h4 class="text-center border-bottom border-light border-3">Bank Account (Australia)</h4>
                    <p class="text-center">1. Name: Dasoroth Kumar Paul</p>
                    <p class="text-center">Pay ID: 0415 158 536</p>
                    <p class="text-center">Reference: For Tamal</p>
                    <br>
                    <p class="text-center">2. Name: Himadri Mondal</p>
                    <p class="text-center">BSB: 082906</p>
                    <p class="text-center">Account number: 938939465</p>
                    <p class="text-center">Reference: For Tamal</p>
                    <br>
                    <h4 class="text-center border-bottom border-light border-3">Bank Account (USA)</h4>
                    <p class="text-center">Account Name: Ragib Shakil Rafi</p>
                    <p class="text-center">Account Number: 518006727293</p>
                    <p class="text-center">Routing No: 101100045</p>
                    <p class="text-center">Zelle: 785-551-1578 or ku.08rafi@gmail.com</p>
                    <br>
                    <h4 class="text-center border-bottom border-light border-3">GoFundMe</h4>
                    <p class="text-center"><a class="link-light" href="https://gofund.me/2b133484">https://gofund.me/2b133484</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0" id="contact">
        <div class="row gx-0">
            <div class="col-12 col-lg-6">
                <img class="img-fluid" src="assets/images/Tamal Bhai 2.jpg" alt="">
            </div>
            <div class="col-12 col-lg-6 p-5 d-flex align-items-center justify-content-center">
                <div class="d-block">
                    <h2 class="mb-4 text-center text-success">CONTACT US</h2>
                    <p class="text-center mb-4">If you have any questions, feedback, suggestions or complaints, please feel free to reach out to us</p>
                    <form id="contactForm" method="POST" action="{{.URLs.commStore}}">
                        <div class="mb-3">
                            <label for="nameInput" class="form-label">Name*</label>
                            <input type="text" name="Name" class="form-control border-success" placeholder="Please enter your name" id="nameInput" aria-describedby="nameHelp">
                            <span id="nameError" class="error text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="emailInput" class="form-label">Email address*</label>
                            <input type="email" name="Email" class="form-control border-success" placeholder="Please enter your email address" id="emailInput" aria-describedby="emailHelp">
                            <span id="emailError" class="error text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="inputText" class="form-label">Your comment*</label>
                            <textarea name="Comment" class="form-control border-success" id="inputText" rows="3" placeholder="Leave a comment..."></textarea>
                            <span id="commentError" class="error text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body text-light" id="formMessage"></div>
        </div>
    </div>
    <div class="container-fluid p-4 bg-gray">
        <h2 class="text-success text-center">IN ASSOCIATION WITH</h2>
        <div class="row justify-content-center align-items-center">
            <div class="col-4 col-md-2">
                <img class="img-fluid" src="/assets/images/EKUAA logo.png" alt="">
            </div>
            <div class="col-4 col-md-2">
                <img class="img-fluid" src="/assets/images/KUAA logo.png" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid p-2 bg-success">
        <div class="row">
            <footer>
                <p class="text-center text-light mt-2"><a class="link-light" href="https://www.facebook.com/events/1947319682785792">Facebook Event Link</a></p>
                <p class="text-center text-light"><a class="link-light" href="https://www.facebook.com/profile.php?id=61580353863519">Facebook Page Link</a></p>
                <p class="text-center text-light">&copy; 2025 all rights reserved.</p>
            </footer>
        </div>
    </div>
</body>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/custom.js"></script>
</html>