{{define "banner"}}
    <div class="container-fluid banner-image">
        <div class="row p-5">
            <div class="col-md-7">
                <h1>{{.Sett.BannerTitle}}</h1>
                <p class="fs-5">{{.Sett.BannerDescription}}</p>
                {{if .Sett.ShowFundUpdates}}
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="card bg-dark">
                            <div class="card-body text-center">
                                <h3 class="card-title text-white">তহবিল সংগ্রহের অগ্রগতি</h3>
                                <h6 class="card-subtitle my-3 text-white-50">লক্ষ্য: &#2547;{{.TargetAmount}}</h6>
                                <div class="border-secondary bg-secondary rounded-3">
                                    <div class="bg-success rounded-3" style="height: 12px; width: {{.Percentage}}%;"></div>
                                </div>
                                <h6 class="card-subtitle my-3 text-white-50">সংগৃহীত: &#2547;{{.CollectedAmount}} ({{.Percentage}}%) | বাকি: &#2547;{{.RemainingAmount}}</h6>
                                <a href="{{.URLs.home}}#donate" class="btn btn-success btn-lg w-100">Donate</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{else}}
                <a href="{{.URLs.home}}#donate" class="btn btn-success btn-lg">Donate</a>
                {{end}}
            </div>
        </div>
    </div>
{{end}}