{{define "collection"}}
    <div class="container-fluid p-5" id="collection">
        <div class="row">
            <h2 class="text-center text-success mb-4">COLLECTION DETAILS</h2>
            <div class="table-responsive">
                <table class="table" id="collTable">
                    <thead>
                        <tr>
                            <th><a href="#" class="sort" data-sort="date">Date &udarr;</a></th>
                            <th><a href="#" class="sort" data-sort="account_number">Account Number &udarr;</a></th>
                            <th><a href="#" class="sort" data-sort="account_type">Account Type &udarr;</a></th>
                            <th><a href="#" class="sort" data-sort="amount">Amount &udarr;</a></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link text-success" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link"></a></li>
                    <li><a class="page-link text-success">...</a></li>
                    <li class="page-item">
                        <a class="page-link text-success" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{{end}}