<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <title>Page Not Found</title>
</head>
<body>
    {{ template "header" . }}
    <div class="container">
        <div class="row my-4">
            <div class="card p-5 shadow">
                <div class="card-header border-0">
                    <h1>Log In</h1>
                </div>
                <div class="card-body">
                    <h4>{{.Notices}}</h4>
                    <form method="POST" action="/login/auth">
                        <div class="mb-3">
                            <label for="loginEmail" class="form-label">Email*</label>
                            <input type="email" class="form-control" id="loginEmail" placeholder="Enter your email" name="Email" value="{{.Email}}">
                        </div>
                        <div class="mb-3">
                            <label for="loginPassword" class="form-label">Password*</label>
                            <input type="password" class="form-control" id="loginPassword" placeholder="Enter your password" name="Password" value="">
                        </div>
                        <p class="text-danger">{{.Errors.Error}}</p>
                        <button class="btn btn-success" type="submit">Log In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
</html>