<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <title>Create Currency</title>
</head>
<body>
    {{template "admin-header" . }}
    <div class="container-fluid">
        <h2 class="p-2 text-center">Add A New Currency</h2>
        <div class="row p-2">
            <div class="col-md-6">
                <form method="post" action="{{.URLs.currStore}}">
                    <div class="mb-3">
                        <label class="form-label">Name*</label>
                        <input type="text" class="form-control" name="Name" placeholder="Enter currency name" value="{{.Curr.Name}}">
                        <p class="text-danger">{{.FormErrors.Name}}</p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Exchange Rate*</label>
                        <input type="number" class="form-control" name="ExchangeRate" placeholder="Enter exchange rate with BDT" value="{{.Curr.ExchangeRate}}">
                        <p class="text-danger">{{.FormErrors.ExchangeRate}}</p>
                    </div>
                    <a class="btn btn-primary" href="{{.URLs.currList}}">Back to List</a>
                    <button type="submit" class="btn btn-success float-end">Create</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
</html>