<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <title>Comments</title>
</head>
<body>
    {{template "admin-header" . }}
    <div class="container-fluid">
        <h2 class="p-2 text-center">Comment List</h2>
        <div class="row p-2 justify-content-between">
            <div class="col-md-3">
                <form action="{{.URLs.commList}}" method="GET">
                    <div class="input-group mb-3">
                        <select class="form-select" name="SortBy">
                            <option {{if eq .FilterData.SortBy "serial_number"}} selected {{end}} value="serial_number">Serial</option>
                            <option {{if eq .FilterData.SortBy "name"}} selected {{end}} value="name">Name</option>
                            <option {{if eq .FilterData.SortBy "email"}} selected {{end}} value="email">Email</option>
                            <option {{if eq .FilterData.SortBy "created_at"}} selected {{end}} value="created_at">Created At</option>
                            <option {{if eq .FilterData.SortBy "updated_at"}} selected {{end}} value="updated_at">Updated At</option>
                        </select>
                        <select class="form-select" name="Order">
                            <option {{if eq .FilterData.Order "ASC"}} selected {{end}} value="ASC">A to Z</option>
                            <option {{if eq .FilterData.Order "DESC"}} selected {{end}} value="DESC">Z to A</option>
                        </select>
                        <button type="submit" class="btn btn-success">Filter</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <form action="{{.URLs.commList}}" method="GET">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search ..." name="SearchTerm" value="{{.FilterData.SearchTerm}}">
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row p-3">
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Serial</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .List}}
                            <tr>
                                <td>{{.SerialNumber}}</td>
                                <td>{{.Name}}</td>
                                <td>{{.Email}}</td>
                                <td>
                                    <a class="btn btn-info btn-sm" href="/comments/view/{{.CommentID}}">View</a>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
                <p class="text-center">Showing {{len .List}} out of {{.Paginator.Total}} data</p>
                
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {{if ne .Paginator.Total 0}}
                        <li class="page-item {{if eq .Paginator.CurrentPage 1}} disabled {{end}}">
                            <a class="page-link text-success" {{if .Paginator.Prev}} href="{{.Paginator.Prev.URL}}" {{end}} aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {{end}}
                        {{range .Paginator.Pages}}
                        {{if .Order}}
                        <li class="page-item"><a class="page-link {{if .Current}}bg-success text-light {{else}} text-success{{end}}" href="{{.URL}}">{{.Order}}</a></li>
                        {{else}}
                        <li><a class="page-link text-success">...</a></li>
                        {{end}}
                        {{end}}
                        {{if ne .Paginator.Total 0}}
                        <li class="page-item  {{if eq .Paginator.CurrentPage .Paginator.CountPaginate}} disabled {{end}}">
                            <a class="page-link text-success" {{if .Paginator.Next}} href="{{.Paginator.Next.URL}}" {{end}} aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
</html>