<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <title>Comment Details</title>
</head>
<body>
    {{template "admin-header" . }}
    <div class="container-fluid">
        <h2 class="p-2 text-center">Comment Details</h2>
        <div class="row p-2">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text"><span class="fw-bold">Serial Number: </span>{{.Comm.SerialNumber}}</p>
                        <p class="card-text"><span class="fw-bold">Created At: </span>{{.Comm.CreatedAt}}</p>
                        <p class="card-text"><span class="fw-bold">Name: </span>{{.Comm.Name}}</p>
                        <p class="card-text"><span class="fw-bold">Email: </span>{{.Comm.Email}}</p>
                        <p class="card-text"><span class="fw-bold">Comment: </span>{{.Comm.Comment}}</p>
                        <a href="{{.URLs.commList}}" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
</html>